body {
  background-color: rgb(44, 65, 69);
  margin: 0;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.hiddenDates {
  display: none;
}

.current-month {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: larger;
}

.date-picker-container {
  position: relative;
  display: inline-block;
}

.date-picker-button {
  cursor: pointer;
  background-color: white;
  border-radius: .5rem;
  padding: .5rem .8rem;
  margin-top: 2rem;
  border: none;
  box-shadow: -2px 2.5px 6px 1px rgb(26, 42, 45);

  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: large;
}

.date-picker-button:hover {
  background-color: hsl(200, 25%, 90%);
}

.date-picker {
  display: none;
  position: absolute;
  margin-top: 1rem;
  top: 100%; 
  transform: translateX(-50%);
  left: 50%;
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: -3px 4px 12px 3px rgb(26, 42, 45);
  background-color: white;
  /* border: 1px solid black; */
}

.date-picker-header {
  display: flex;
  font-family: inherit;
  justify-content: space-between;
  font-weight: bold;
  font-size: .8rem;
  align-items: center;
}

.date-picker-grid {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(7, 2rem);
  grid-auto-rows: 2rem;

}

.date-picker-grid > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;

  font-family: 'Times New Roman', Times, serif;
}

.date-picker-grid-header {
  font-weight: bold;
  font-size: .75rem;
  color: #333;
}

.date-picker-grid-dates {
  color: #555;
  /* border: 1px solid black; */
}

.date-picker-other-month-date {
  color: #AAA;
}

.date-picker-grid-dates > .date {
  cursor: pointer;
  border-radius: .25rem;
  border: none;
  background: none;
  /* border: 1px solid black; */
}

.date-picker-grid-dates > *:hover {
  background-color: hsl(200, 50%, 95%);
  border: 1px solid hsl(200, 50%, 60%); 
  color: black;
}



.month-button {
  background: none;
  border: none;
  cursor: pointer;
}

.month-button:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: .5rem;
}

.selectedDate.date{
  border: 1px solid hsl(200, 100%, 30%);
  background-color: hsl(200, 50%, 90%);

  color: black;
}